/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */
body{
    background-color: #e6eff6;
}
main{
    font-family: 'Karla', sans-serif;
    width: 312px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    margin: 72px auto;
    overflow: hidden;
    display: grid;
}
@media screen and (min-width: 768px){
    main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 635px;   
        margin-left: auto;
        margin-right: auto;

    }
}

/* CELL 1 */

.join{
    background-color: white;
    padding: 0 25px;
}
@media screen and (min-width: 768px){
    .join{
        grid-column: 1/3;
        padding: 8px 40px;
    }     
}
.join__title{
    color:hsl(179, 62%, 43%) ;
    margin-top: 30px;  
}
.join__subtitle{
    color: hsl(71, 73%, 54%);
    font-size: 15px;
    line-height: 1.2em;
}
.join__text{
    color: hsl(218, 22%, 67%);
    font-size: 14px;
    line-height: 1.9em;
    padding-top: 10px;
    margin-bottom: 30px;
}

/* CELL 2 */

.subscription{
    background-color: rgb(43, 179, 177);
    color:hsl(204, 43%, 93%);
    padding: 0 25px;
}
@media screen and (min-width: 768px){
    .subscription{
        padding: 15px 25px;
    }   
}
.subscription__title{
    margin-top: 22px;
    font-size: 17px;
}
.subscription__price{
    font-weight: 700;
    font-size: 31px;
    padding-top: 4px;
}
.subscription__month{
    color: rgb(113, 215, 219);
    font-size: 16px;
    font-weight: 400;
}
.subscription__text{
    margin-top: 10px;
    font-weight: 400;
}
.subscription__button{
    background-color: hsl(71, 73%, 54%);
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 700px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 25px auto;
    padding:15px 0;
}
@media screen and (min-width: 768px){
    .subscription__button{
        margin: 27px 0;  
    }   
}

/* CELL 3 */

.why{
    background-color: rgb(74, 190, 189);
    color:hsl(204, 43%, 93%);
    padding: 0 27px 8px;
}
.why__title{
    margin-top: 22px;
    margin-bottom: 18px;
    font-size: 18px;
}
.list{
    padding: 0;
}
.list__element{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    color: #ffffffaa;
}

/* FOOTER */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }